@import url("../../../../style.css");

.dataContent-item picture{
  position: relative;
}

.dataContent-item-image{
  height: 32rem;
  width: 100%;
  object-fit: cover;
  object-position:center;
}

.dataContent-item-info{
  padding: .5rem;
  background: var(--rgba-red);
  border: .1rem solid var(--color-dark);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.dataContent-info-name{
  padding: .3rem;
  width: 100%;
  font-size: 1.3rem;
  color: var(--color-white);
  text-align: center;
}

.dataContent-info-poplarity{
  width: 100%;
  color: var(--color-white);
  font-size: 1.1rem;
  text-align: center;
}