@import url("../../../../../style.css");

.itemCast .itemCast-image,
.itemCast .itemCast-avatar{
  height: 28rem !important;
  width: 100% !important;
  object-position: top;
  border-radius: 100%;
}

.itemCast-info{
  padding: 1rem;
}

.itemCast-name,
.itemCast-character,
.itemCast-known{
  color: var(--color-white);
}

.itemCast-name{
  font-size: 2.8rem;
}

.itemCast-character{
  font-size: 2rem;
}

.itemCast-known{
  font-size: 1.5rem;
}
